body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, code, em, img, dl, dt, dd, ol, ul, li, form, table, caption, th,
td, canvas, embed, button {
  margin: 0;
  padding: 0;
  border: 0;
}

a img {border: none; }


ul, ol {
  list-style-type: none;
}

body {
 	margin: 0;
  	margin-bottom: 25px;
    background: #EFF3F7;
    height:100%;
}

#SiteContainer {
	display:block;
	position:relative;
	margin:0;
	padding:0;
	min-width:480px;
    margin-left: 30px;
	background:url("/static/images/header-gradient.png") repeat-x;
}



body,
input,
textarea,
td,
button {
  font: 13px/18px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  color: #3b5998;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}


.columntab {
  margin: auto;
  width: 100%;
  max-width: 950px;
  margin-top: -12px;
}


/* Buttons */

button,
button:disabled:hover,
button:disabled:active {
  cursor: pointer;
  margin: 0;
  outline-style: none;

  border: 1px solid #bcbcbc;
  border-bottom-color: #a2a2a2;
  border-top-color: #c9c9c9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0 0;

  padding: 5px;
  padding-left: 11px;
  padding-right: 11px;

  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #ffffff,  #f6f6f6);

  text-decoration: none;
  font-weight: bold;
  color: #333;
}

button:hover {
  border-color: #a2a2a2;
  text-decoration: none;
}

button:active {
  background: #f6f6f6;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  color: #aaa;
}


/* Layout */

#page {
  margin-top: 20px;
}

p {
  margin-bottom: 1em;
}

a img {border: none; }

#copyright .terms {
    color: #aaa;
    clear: both;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.6em;
    position: relative;
    z-index: 10;
}

#copyright a:link, #copyright a:visited {
    color: #000;
}

#copyright a:hover {
    color: #aaa;
}

.shadoweffect
{
    background:#fff;
    border:1px solid #d9d9d9;
    -webkit-box-shadow:#ddd 0 1px 1px;
    -moz-box-shadow:#ddd 0 1px 1px;
    box-shadow:#ddd 0 1px 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;

    padding:5px 0 2px 0;
    position: relative;
    z-index: 3;
}


.shadoweffect-hover
{
    background:#fff;
    border:1px solid #5d91fc;
    -webkit-border-radius:6px;
    -webkit-box-shadow:#ddd 0 1px 1px;
    -moz-box-shadow:#ddd 0 1px 1px;
    box-shadow:#ddd 0 1px 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    padding:5px 0px 2px 0px;
    cursor:pointer;
}

.shadoweffect-note
{
    padding:25px;
    padding-bottom:0px;
    position: relative;
    z-index: 3;
    font-size: small;
}

.shadoweffect-business
{
    background:#fff;
    border:1px solid #d9d9d9;
    -webkit-box-shadow:#ddd 0 1px 1px;
    -moz-box-shadow:#ddd 0 1px 1px;
    box-shadow:#ddd 0 1px 1px;
    -webkit-border-radius:6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    padding:15px;
    position: relative;
    z-index: 3;
}

.shadoweffect-sidebar
{
    background:#FDFDFD;
    border:1px solid #d9d9d9;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    -webkit-box-shadow:#ddd 0 1px 1px;
    -moz-box-shadow:#ddd 0 1px 1px;
    box-shadow:#ddd 0 1px 1px;
    padding:0px 15px 15px 15px;
    position: relative;
    z-index: 3;
}

.graphbar {
    border: 0px;
    background: #50de76;
}

.graphbarblue {
    border: 0px;
    background: #00c6ff;
}

.graphbarorange {
    border: 0px;
    background: #e88826;
}

.cta {
    float: left;
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    font: bold 16px Helvetica, Arial, sans-serif;
    font-smooth: always;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing:antialiased;
    height: 45px;
    text-decoration: none;
    line-height: 44px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333');
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    user-select: none;
    overflow: visible;
    outline: none;
}
.cta:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.cta:hover {
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.cta:active {
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}
.cta-red, .cta-green, .cta-blue, .cta-yellow {
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
}

.cta-red {
    border: solid 1px #b8473d;
    background: #f36c4d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f36c4d), to(#ef3e29));
    background: -moz-linear-gradient(top, #f36c4d, #ef3e29);
    background: -ms-linear-gradient(top, #f36c4d, #ef3e29);
    background: -o-linear-gradient(top, #f36c4d, #ef3e29);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f36c4d', EndColorStr='#ef3e29');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f36c4d', EndColorStr='#ef3e29')";
}
.cta-red:before {
    border: solid 1px #f67b5f;
    border-color: rgba(255, 255, 255, 0.35);
}
.cta-red:hover {
    color: #fff;
    border: solid 1px #90332b;
    background: -webkit-gradient(linear, left top, left bottom, from(#fb856a), to(#f7523f));
    background: -moz-linear-gradient(top, #fb856a, #f7523f);
    background: -ms-linear-gradient(top, #fb856a, #f7523f);
    background: -o-linear-gradient(top, #fb856a, #f7523f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fb856a', EndColorStr='#f7523f');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fb856a', EndColorStr='#f7523f')";
}
.cta-red:active {
    color: #fff;
    border: solid 1px #90332b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef3e29), to(#f36c4d));
    background: -moz-linear-gradient(top, #ef3e29, #f36c4d);
    background: -ms-linear-gradient(top, #ef3e29, #f36c4d);
    background: -o-linear-gradient(top, #ef3e29, #f36c4d);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ef3e29', EndColorStr='#f36c4d');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ef3e29', EndColorStr='#f36c4d')";
}

.cta-green {
    border: solid 1px #00922d;
    background: #00b638;
    background: -webkit-gradient(linear, left top, left bottom, from(#50de76), to(#00b638));
    background: -moz-linear-gradient(top, #50de76, #00b638);
    background: -ms-linear-gradient(top, #50de76, #00b638);
    background: -o-linear-gradient(top, #50de76, #00b638);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#50de76', EndColorStr='#00b638');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#50de76', EndColorStr='#00b638')";
}
.cta-green:before {
    border: solid 1px #78e695;
    border-color: rgba(255, 255, 255, 0.35);
}
.cta-green:hover {
    color: #fff;
    border: solid 1px #006e22;
    background: -webkit-gradient(linear, left top, left bottom, from(#5cec82), to(#00c43c));
    background: -moz-linear-gradient(top, #5cec82, #00c43c);
    background: -ms-linear-gradient(top, #5cec82, #00c43c);
    background: -o-linear-gradient(top, #5cec82, #00c43c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5cec82', EndColorStr='#00c43c');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5cec82', EndColorStr='#00c43c')";
}
.cta-green:active {
    color: #fff;
    border: solid 1px #006e22;
    background: -webkit-gradient(linear, left top, left bottom, from(#00b638), to(#50de76));
    background: -moz-linear-gradient(top, #00b638, #50de76);
    background: -ms-linear-gradient(top, #00b638, #50de76);
    background: -o-linear-gradient(top, #00b638, #50de76);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b638', EndColorStr='#50de76');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b638', EndColorStr='#50de76')";
}
.cta-blue {
    border: solid 1px #0870c0;
    background: #007bda;
    background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#007bda));
    background: -moz-linear-gradient(top, #00c6ff, #007bda);
    background: -ms-linear-gradient(top, #00c6ff, #007bda);
    background: -o-linear-gradient(top, #00c6ff, #007bda);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#007bda');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#007bda')";
}
.cta-blue:before {
    border: solid 1px #3bb4ec;
    border-color: rgba(255, 255, 255, 0.35);
}
.cta-blue:hover {
    color: #fff;
    border: solid 1px #065491;
    background: -webkit-gradient(linear, left top, left bottom, from(#21cdff), to(#0387ec));
    background: -moz-linear-gradient(top, #21cdff, #0387ec);
    background: -ms-linear-gradient(top, #21cdff, #0387ec);
    background: -o-linear-gradient(top, #21cdff, #0387ec);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#21cdff', EndColorStr='#0387ec');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#21cdff', EndColorStr='#0387ec')";
}
.cta-blue:active {
    color: #fff;
    border: solid 1px #065491;
    background: -webkit-gradient(linear, left top, left bottom, from(#007bda), to(#00c6ff));
    background: -moz-linear-gradient(top, #007bda, #00c6ff);
    background: -ms-linear-gradient(top, #007bda, #00c6ff);
    background: -o-linear-gradient(top, #007bda, #00c6ff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#007bda', EndColorStr='#00c6ff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#007bda', EndColorStr='#00c6ff')";
}
.cta-yellow {
    border: solid 1px #db8300;
    background: #ff9900;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff9900));
    background: -moz-linear-gradient(top, #ffcc00, #ff9900);
    background: -ms-linear-gradient(top, #ffcc00, #ff9900);
    background: -o-linear-gradient(top, #ffcc00, #ff9900);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffcc00', EndColorStr='#ff9900');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffcc00', EndColorStr='#ff9900')";
}
.cta-yellow:before {
    border: solid 1px #ffc63b;
    border-color: rgba(255, 255, 255, 0.35);
}
.cta-yellow:hover {
    color: #fff;
    border: solid 1px #ad6800;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffd322), to(#ffa51f));
    background: -moz-linear-gradient(top, #ffd322, #ffa51f);
    background: -ms-linear-gradient(top, #ffd322, #ffa51f);
    background: -o-linear-gradient(top, #ffd322, #ffa51f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffd322', EndColorStr='#ffa51f');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffd322', EndColorStr='#ffa51f')";
}
.cta-yellow:active {
    color: #fff;
    border: solid 1px #ad6800;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#ffcc00));
    background: -moz-linear-gradient(top, #ff9900, #ffcc00);
    background: -ms-linear-gradient(top, #ff9900, #ffcc00);
    background: -o-linear-gradient(top, #ff9900, #ffcc00);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff9900', EndColorStr='#ffcc00');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff9900', EndColorStr='#ffcc00')";
}

.ctareview-lightgray {
    border: solid 1px #f5f5f5;
    background: #f0f0f0;
}
.ctareview-lightgray:before {
    border: solid 1px #e4e4e4;
    border-color: rgba(255, 255, 255, 0.35);
}

.ctaadd {
    padding:1px 0;
    margin: 5px 0;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    z-index: 10;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333');
    overflow: visible;
    outline: none;
}
.ctaadd:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.ctaadd-lightgray {
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
}

.ctaadd-lightgray {
    border: solid 1px #f5f5f5;
    background: #f0f0f0;
}
.ctaadd-lightgray:before {
    border: solid 1px #e4e4e4;
    border-color: rgba(255, 255, 255, 0.35);
}



.separator {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin:0.5em 0;
}


/* -----------------------------------------------------------*/

nav a:hover { color: black; text-decoration: none;}

nav a, nav a:visited, nav a:focus {
    display: block;
    height: 63px;
    padding: 20px 20px 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: 600;
    border-top: 3px solid black;
    margin-top: 1px;
}

nav ul {
    float: right;
    height: 61px;
    margin-bottom: 20px;
}
nav li {
    list-style: none;
    display: block;
    float: left;
    margin-top: -6px;
    margin-bottom: 0;
}


img.scale-with-grid {
    height: auto
}
.mobile-only {
    display: none
}

header {
    border-top: 6px solid black;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background:#E5EBF0 url("");
}

header h1 a {
    display: block;
    max-height: 80px;
}

.bottom-gradient {
    position: relative;
    height: 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid white;
    z-index: -99;
    clear: both;
    margin: 0;
}

.container {
    position: relative;
    width: 990px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: -5px;
}

.column {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px
}


.column.alpha {
    margin-left: 0
}

.column.omega {
    margin-right: 0
}

.container .one-third.column {
    width: 300px
}

.container .two-thirds.column {
    width: 620px
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px
    }

    .container .column {
        margin-left: 10px;
        margin-right: 10px
    }

    .column.alpha {
        margin-left: 0;
        margin-right: 10px
    }

    .column.omega {
        margin-right: 0;
        margin-left: 10px
    }

    .container .one-third.column {
        width: 236px
    }

    .container .two-thirds.column {
        width: 492px
    }

}

@media only screen and (max-width: 767px) {
    .container {
        width: 300px
    }

    .column {
        margin: 0
    }

    .container .one-third.column, .container .two-thirds.column {
        width: 300px
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 420px
    }

    .column {
        margin: 0
    }

    .container .one-third.column, .container .two-thirds.column {
        width: 420px
    }
}

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

@media only screen and (max-width: 959px) {

    nav ul {
        height: 40px
    }

    nav li a, nav li a:visited, nav li a:focus {
        display: inline-block;
        height: 40px;
        width: auto;
        padding: 23px 15px 0 15px
    }

    nav li a span {
        display: none
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    header h1, header h1 a, header h1 a img {
        max-height: 60px
    }

}

@media only screen and (max-width: 767px) {



    header h1.logo.one-third.column {
        width: 50px;
        margin-top: 5px
    }

    header nav.menu.two-thirds.column {
        width: 370px
    }

    header h1.logo img {
        display: none;
    }

    header h1.logo img.mobile-only {
        display: block
    }

    label, legend {
        text-align: left;
        padding: 0 0 10px 5px
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    nav li a, nav li a:visited, nav li a:focus {
        padding: 23px 10px 0 10px
    }

}

@media only screen and (max-width: 479px) {

    nav li a, nav li a:visited, nav li a:focus {
        padding: 17px 2px 0 2px
    }

    nav ul.nav {
        height: 30px;
        margin: 0
    }

    header h1.logo.one-third.column {
        width: 30px;
        margin-top: 10px
    }

    header nav.menu.two-thirds.column {
        width: 270px
    }
}

header, nav a, nav a:visited, nav a:focus {
    border-top-color: #4a4a4a;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
}

nav a:hover {
    color: #000;
    border-top-color: #c1c1c1
}

nav a span {
    color: #888;
    font-size: 12px;
    font-weight: normal
}

a, a:visited {
    color: #3B5998
}

a:hover, a:focus {
    color: #000
}

div.tree, div.tree ul {
    list-style-type: none;
    color: #369;
    background-color: white;
    line-height: 20px;
    font-weight: bold;
    text-align: left;
}

ul.tree, ul.tree ul {
    list-style-type: none;
    background: url("/static/images/vline.png") repeat-y;
    margin: 0;
    padding: 0;
}

ul.tree ul {
    margin-left: 10px;
}

ul.tree li {
    margin: 0;
    padding: 0 12px;
    background: url("/static/images/node.png") no-repeat;
}

ul.tree li.last {
    background: #fff url("/static/images/lastnode.png") no-repeat;
}

