{% extends "base.html" %}
{% block body %}
<div class="shadoweffect-business" style="margin-left: -50px; width: 1020px; padding-left: 1px; padding-right: 1px; padding-bottom: 2px;"><iframe src="http://gfdc.wnx.com/login" style="width: 1020px; height: 570px;"></iframe>
</div>
<br/>
<div class="shadoweffect-business"><p>The Geni <a href='https://www.geni.com/worldfamilytree' target="blank">World Family Tree</a> is a
    unique collaborative, largely public collection of connected family trees.
    The Geni Forest Density Calculator (GFDC) is designed to test the density of
    the forest surrounding a profile.  The density at a particular profile node is
    calculated as the number of unique profile nodes within n steps of the node.
    All members of a node’s immediate family (parents, siblings, spouse/partner,
    and children) are defined as one step away from the node.</p>
    <p>Please note that the GFDC may be limited by privacy settings or
        by anomalies in the Geni database.</p></div>

<br/>
{%end%}