
<html>
<head>
    <script type="text/JavaScript">
        <!--
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(true);",timeoutPeriod);
        }
        //   -->
    </script>
</head>
<body onload="JavaScript:timedRefresh(3600000);">
<p>This page will refresh every hour. Updating Curator Stats.</p>
<script language="javascript">
    <!--
    today = new Date();
    document.write("<BR>Time last updated: ", today.getHours(),":",today.getMinutes());
    document.write("<BR>Date last updated: ", today.getDate(),"/",today.getMonth()+1,"/",today.getYear());
    //-->
</script>
</body>
</html>