{% extends "base.html" %}
{% block body %}
<br/><br/>
<div class="shadoweffect-business">
    <div style="padding-left: 7px; padding-top: 5px; padding-right: 7px;">

        <style>
            #ppBody {
                font-size: 11pt;
                width: 100%;
                margin: 0 auto;
                text-align: justify;
            }

            #ppHeader {
                font-family: verdana;
                font-size: 21pt;
                width: 100%;
                margin: 0 auto;
            }

            .ppConsistencies {
                display: none;
            }
        </style>
        <div id='ppHeader'> Privacy Policy</div>
        <div id='ppBody'>
            <div class='ppConsistencies'>
                <div class='col-2'>
                    <div class="quick-links text-center">Information Collection</div>
                </div>
                <div class='col-2'>
                    <div class="quick-links text-center">Information Usage</div>
                </div>
                <div class='col-2'>
                    <div class="quick-links text-center">Information Protection</div>
                </div>
                <div class='col-2'>
                    <div class="quick-links text-center">Cookie Usage</div>
                </div>
                <div class='col-2'>
                    <div class="quick-links text-center">3rd Party Disclosure</div>
                </div>
                <div class='col-2'>
                    <div class="quick-links text-center">3rd Party Links</div>
                </div>
                <div class='col-2'></div>
                <div class='col-2'></div>
                <div class='col-2'></div>
                <div class='col-2'></div>
            </div>
            <div style='clear:both;height:10px;'></div>
            <div class='ppConsistencies'>
                <div class='col-2'>
                    <div class="col-12 quick-links2 gen-text-center coppa-pad">
                        COPPA

                    </div>
                </div>
                <div class='col-2'>
                    <div class="quick-links2 gen-text-center">Our Contact Information<br></div>
                </div>
            </div>
            <div style='clear:both;height:10px;'></div>
            <div class='innerText'>This privacy policy has been compiled to better serve those who are concerned with how their
                information is being used online. Please read our privacy policy carefully to get a clear
                understanding of how we collect, use, protect or otherwise handle your information in
                accordance with our website.  To see Geni's privacy policy, please visit: <a href="https://www.geni.com/company/privacy">https://www.geni.com/company/privacy</a><br></div>
            <span id='infoCo'></span><br>

            <div class='grayText'><strong>What personal information do we collect from the people that visit our website
                or app?</strong></div>
            <br/>

            <div class='innerText'>When using authenticated Geni services on our site, account identification for the Geni user is stored to provide services.
                Family Tree information process by HistoryLink and SmartCopy is NOT stored or retained.  Authentication to Geni is done via token maintained by the user's browser.  
                This site does NOT store or even see your Geni password.
            </div>

            <span id='infoUs'></span><br>

            <div class='grayText'><strong>How do we use your information? </strong></div>
            <br/>

            <div class='innerText'> We use the information to identify the user and process Geni requests.
            </div>
            <span id='infoPro'></span><br>

            <div class='grayText'><strong>How do we protect visitor information?</strong></div>
            <br/>

            <div class='innerText'>We implement a variety of security measures when a user enters, submits, or accesses their
                information to maintain the safety of your personal information.  When using SmartCopy, TLS encryption is used between the user, SmartCopy systems, and Geni.com.
            </div>

            <span id='coUs'></span><br>

            <div class='grayText'><strong>Do we use 'cookies'?</strong></div>
            <br/>

            <div class='innerText'>Yes. Cookies are small files that a site or its service provider transfers to your computer's
                hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to
                recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember you and understand your preferences
                based on previous or current site activity, which enables us to provide you with improved services. We also use
                cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better
                site experiences and tools in the future.
            </div>
            <div class='innerText'><br><strong>We use cookies to:</strong></div>
            <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Understand and save user's preferences
                for future visits.
            </div>
            <div class='innerText'><br>You can choose to have your computer warn you each time a cookie is being sent, or you
                can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each
                browser is a little different, so look at your browser's Help menu to learn the correct way to modify your
                cookies.<br></div>
            <div class='innerText'><br><strong>If users disable cookies in their browser:</strong></div>
            <br>

            <div class='innerText'>If you disable cookies, some features may not function. It can turn off some of the
                features that make your site experience more efficient and some of our services may not function properly.
            </div>

            <span id='trDi'></span><br>

            <div class='grayText'><strong>Third-party disclosure</strong></div>
            <br/>

            <div class='innerText'>We do not sell, trade, or otherwise transfer to outside parties your
                information.
            </div>
            <span id='trLi'></span><br>

            <div class='grayText'><strong>Third-party links</strong></div>
            <br/>

            <div class='innerText'>We do not include or offer third-party products or services on our website.</div>
            <div class='innerText'>Google Analytics may be used to see demographics, system platform information and site usage.</div>
            <span id='coppAct'></span><br>

            <div class='blueText'><strong>COPPA (Children Online Privacy Protection Act)</strong></div>
            <br/>

            <div class='innerText'>When it comes to the collection of personal information from children under 13, the
                Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the
                nation's consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and
                online services must do to protect children's privacy and safety online.<br><br></div>
            <div class='innerText'>We do not specifically market to children under 13.</div>

        </div><br>
        <div class='innerText'>If there are any questions regarding this privacy policy you may contact us via the discussion forum
            below.<br><br>
            * <a href="https://www.geni.com/discussions?discussion_type=project-14021">HistoryLink Discussion Forum</a></div>
        <div class='innerText'><br>Last Edited on 2016-04-16</div></div>

    </div>
</div>
{% end %}
